<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baby_220fa3cd9a07183fa6e7d8f5082f21c4dcffa74f">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
